openapi: 3.1.0
info:
  title: reHome Knowledge Base API
  version: 1.0.0
  summary: API модуля базы знаний платформы reHome
  description: "Публичный API модуля базы знаний reHome, через который платформа rehome.one\nи другие потребители получают\
    \ доступ к статьям help-центра, документам,\nAI-чату, поиску и карточкам квартир.\n\nПолное описание архитектуры и принципов\
    \ — в документе\n«API базы знаний reHome — ТЗ v1.0».\n\n## Аутентификация\nПоддерживаются два режима:\n- **m2m** (server-to-server):\
    \ OAuth 2.0 Client Credentials через kb-auth Keycloak,\n  Authorization: Bearer <jwt>\n- **user** (browser-to-server):\
    \ HttpOnly Cookie kb_session с JWT,\n  устанавливается при логине пользователя в rehome.one\n\n## Контроль доступа\nКаждый\
    \ ресурс имеет access_level (PUBLIC / LOGGED / AGENT / STAFF / LEGAL / HR_RESTRICTED).\nscope пользователя вычисляется\
    \ бэкендом из проверенного токена,\nНИКОГДА не передаётся клиентом. Фильтрация применяется на уровне хранилища.\n\n##\
    \ Версионирование\nВерсия в URL: /api/v1/. Breaking changes требуют новой мажорной версии\nи параллельной работы старой\
    \ минимум 6 месяцев.\n"
  contact:
    name: reHome Engineering
    email: engineering@rehome.one
    url: https://rehome.one
  license:
    name: Proprietary
  termsOfService: https://rehome.one/legal/api-terms
servers:
- url: https://api.rehome.one/kb
  description: Production
- url: https://api.staging.rehome.one/kb
  description: Staging
- url: https://api.dev.rehome.one/kb
  description: Development
- url: http://localhost:8000/kb
  description: Local development
security:
- BearerAuth: []
- CookieAuth: []
tags:
- name: Health
  description: Health checks и метаданные API
- name: Articles
  description: Статьи help-центра и внутренней wiki
- name: Categories
  description: Категории и теги статей
- name: Documents
  description: Юридические и прочие документы
- name: Premises Cards
  description: Карточки сдаваемых квартир
- name: Chat
  description: AI-чат по базе знаний (RAG)
- name: Search
  description: Универсальный поиск
- name: Webhooks
  description: Управление webhook подписками
- name: Admin
  description: Администрирование kb-модуля (требует scope = staff_admin)
- name: Collaborators
  description: Коллаборанты — внешние исполнители (УК/ТСЖ, клининг, ремонт, страховые и др.)
paths:
  /api/v1/health:
    get:
      tags:
      - Health
      summary: Liveness probe
      operationId: health
      security: []
      responses:
        '200':
          description: Сервис работает
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                    - ok
  /api/v1/ready:
    get:
      tags:
      - Health
      summary: Readiness probe
      operationId: ready
      security: []
      responses:
        '200':
          description: Все зависимости доступны
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadinessResponse'
        '503':
          description: |
            Хотя бы одна зависимость недоступна. Тот же envelope shape, что
            и 200, — клиенту (k8s probe) важен status code; `dependencies`
            map содержит per-service status'ы для ops debugging.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadinessResponse'
  /api/v1/version:
    get:
      tags:
      - Health
      summary: Версия API
      operationId: getVersion
      security: []
      responses:
        '200':
          description: Информация о версии
          content:
            application/json:
              schema:
                type: object
                properties:
                  api_version:
                    type: string
                    example: 1.0.0
                  build_hash:
                    type: string
                  build_date:
                    type: string
                    format: date-time
                  environment:
                    type: string
                    enum:
                    - prod
                    - staging
                    - dev
                    - local
  /api/v1/articles:
    get:
      tags:
      - Articles
      summary: Список статей
      description: 'Возвращает список статей с учётом scope пользователя.

        Cursor-based пагинация. Поддерживает фильтры по категории, аудитории, языку.

        '
      operationId: listArticles
      security:
      - BearerAuth: []
      - CookieAuth: []
      - {}
      parameters:
      - $ref: '#/components/parameters/RequestId'
      - $ref: '#/components/parameters/AcceptLanguage'
      - name: category
        in: query
        schema:
          type: string
          enum:
          - faq
          - regulation
          - guide
          - policy
          - document
          - glossary
      - name: audience
        in: query
        schema:
          $ref: '#/components/schemas/Audience'
      - name: tags
        in: query
        description: Список тегов через запятую
        schema:
          type: string
          example: сервисный-платёж,оплата
      - name: language
        in: query
        schema:
          $ref: '#/components/schemas/Language'
      - name: cursor
        in: query
        schema:
          type: string
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
      responses:
        '200':
          description: Список статей
          headers:
            ETag:
              schema:
                type: string
            Cache-Control:
              schema:
                type: string
                example: public, max-age=60
            X-RateLimit-Remaining:
              schema:
                type: integer
            X-API-Version:
              schema:
                type: string
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/ArticleSummary'
                    pagination:
                      $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/RateLimit'
    post:
      tags:
      - Articles
      summary: Создать статью
      description: Требует scope ≥ staff_support
      operationId: createArticle
      parameters:
      - $ref: '#/components/parameters/RequestId'
      - $ref: '#/components/parameters/IdempotencyKey'
      - $ref: '#/components/parameters/CsrfToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArticleInput'
      responses:
        '201':
          description: Создано
          headers:
            Location:
              schema:
                type: string
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/Article'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
  /api/v1/articles/{slug}:
    parameters:
    - name: slug
      in: path
      required: true
      schema:
        type: string
        pattern: ^[a-z0-9-]+$
    get:
      tags:
      - Articles
      summary: Получить статью по slug
      operationId: getArticleBySlug
      security:
      - BearerAuth: []
      - CookieAuth: []
      - {}
      parameters:
      - $ref: '#/components/parameters/RequestId'
      - $ref: '#/components/parameters/AcceptLanguage'
      - name: If-None-Match
        in: header
        schema:
          type: string
      responses:
        '200':
          description: Статья
          headers:
            ETag:
              schema:
                type: string
            Cache-Control:
              schema:
                type: string
            Vary:
              description: |
                Фиксируется как `Authorization` для предотвращения утечки
                STAFF-ответа через shared proxy анонимному пользователю
                (ADR-0003, RFC 7234 §4.1).
              schema:
                type: string
                example: Authorization
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/Article'
        '304':
          description: Не изменилось с last ETag
          headers:
            ETag:
              schema:
                type: string
            Cache-Control:
              schema:
                type: string
            Vary:
              description: |
                Фиксируется как `Authorization` для предотвращения утечки
                STAFF-ответа через shared proxy анонимному пользователю
                (ADR-0003, RFC 7234 §4.1).
              schema:
                type: string
                example: Authorization
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags:
      - Articles
      summary: Обновить статью полностью
      operationId: replaceArticle
      parameters:
      - $ref: '#/components/parameters/RequestId'
      - $ref: '#/components/parameters/CsrfToken'
      - name: If-Match
        in: header
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArticleInput'
      responses:
        '200':
          description: Обновлено
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/Article'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
    patch:
      tags:
      - Articles
      summary: Частично обновить статью
      operationId: patchArticle
      parameters:
      - $ref: '#/components/parameters/RequestId'
      - $ref: '#/components/parameters/CsrfToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArticlePatch'
      responses:
        '200':
          description: Обновлено
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/Article'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
      - Articles
      summary: Архивировать статью (soft delete)
      operationId: archiveArticle
      parameters:
      - $ref: '#/components/parameters/RequestId'
      - $ref: '#/components/parameters/CsrfToken'
      responses:
        '204':
          description: Архивировано
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/articles/{slug}/history:
    get:
      tags:
      - Articles
      summary: История изменений статьи
      operationId: getArticleHistory
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
          pattern: ^[a-z0-9-]+$
      - $ref: '#/components/parameters/RequestId'
      - name: If-None-Match
        in: header
        schema:
          type: string
      responses:
        '200':
          description: История версий
          headers:
            ETag:
              schema:
                type: string
            Cache-Control:
              schema:
                type: string
            Vary:
              description: |
                Фиксируется как `Authorization` для предотвращения утечки
                STAFF-ответа через shared proxy анонимному пользователю
                (ADR-0003, RFC 7234 §4.1).
              schema:
                type: string
                example: Authorization
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/ArticleVersion'
        '304':
          description: Не изменилось с last ETag
          headers:
            ETag:
              schema:
                type: string
            Cache-Control:
              schema:
                type: string
            Vary:
              description: |
                Фиксируется как `Authorization` для предотвращения утечки
                STAFF-ответа через shared proxy анонимному пользователю
                (ADR-0003, RFC 7234 §4.1).
              schema:
                type: string
                example: Authorization
  /api/v1/articles/search:
    post:
      tags:
      - Articles
      summary: Полнотекстовый поиск по статьям
      operationId: searchArticles
      parameters:
      - $ref: '#/components/parameters/RequestId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - q
              properties:
                q:
                  type: string
                  minLength: 1
                  maxLength: 500
                filters:
                  type: object
                  properties:
                    category:
                      type: string
                    audience:
                      $ref: '#/components/schemas/Audience'
                    tags:
                      type: array
                      items:
                        type: string
                cursor:
                  type: string
                limit:
                  type: integer
                  minimum: 1
                  maximum: 50
                  default: 10
      responses:
        '200':
          description: Результаты поиска
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/SearchHit'
                    pagination:
                      $ref: '#/components/schemas/Pagination'
  /api/v1/categories:
    get:
      tags:
      - Categories
      summary: Дерево категорий
      operationId: listCategories
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/Category'
  /api/v1/tags:
    get:
      tags:
      - Categories
      summary: Список тегов
      operationId: listTags
      security: []
      parameters:
      - name: q
        in: query
        schema:
          type: string
      - name: limit
        in: query
        schema:
          type: integer
          default: 50
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/Tag'
  /api/v1/documents:
    get:
      tags:
      - Documents
      summary: Список документов
      operationId: listDocuments
      parameters:
      - $ref: '#/components/parameters/RequestId'
      - name: category
        in: query
        schema:
          type: string
          enum:
          - A
          - B
          - C
          - D
          - E
          - F
          description: 'A — публичные документы пользователей,

            B — заключённые договоры,

            C — договоры с подрядчиками,

            D — внутренние,

            E — регуляторы,

            F — шаблоны

            '
      - name: status
        in: query
        schema:
          type: string
          enum:
          - DRAFT
          - ACTIVE
          - EXPIRED
          - CANCELLED
      - name: related_entity
        in: query
        description: Фильтр по связанной сущности, например "user:abc-123"
        schema:
          type: string
      - name: cursor
        in: query
        schema:
          type: string
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/DocumentMeta'
                    pagination:
                      $ref: '#/components/schemas/Pagination'
  /api/v1/documents/{id}:
    get:
      tags:
      - Documents
      summary: Метаданные документа
      operationId: getDocument
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/Document'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/documents/{id}/files:
    post:
      tags:
      - Documents
      summary: Загрузить файл документа
      description: |
        Multipart upload файла, ассоциированного с документом.
        Только для staff-ролей (STAFF access_level и выше).

        Pipeline:
        1. Auth + scope-aware document lookup (404 mask для не-staff).
        2. Read body с size limit `DOCUMENT_MAX_UPLOAD_BYTES`
           (default 50 МБ).
        3. Compute sha256.
        4. Put в MinIO по пути `legal/<category_subdir>/<doc_id>/<version>/<format>.<ext>`
           (TZ §3.2 hierarchy).
        5. Upsert (replace by format) entry в `documents.files` JSONB.
        6. Audit `documents.file.uploaded` с
           `metadata={format, version, size_bytes, sha256}`.

        Реализация ADR-0012 Phase B (#215).
      operationId: uploadDocumentFile
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - file
              - format
              - version
              properties:
                file:
                  type: string
                  format: binary
                  description: Содержимое файла (max `DOCUMENT_MAX_UPLOAD_BYTES`).
                format:
                  type: string
                  enum:
                  - docx
                  - pdf
                  - html
                version:
                  type: string
                  minLength: 1
                  maxLength: 50
                  description: Caller-controlled version label (например, "1.0").
      responses:
        '201':
          description: Файл загружен, entry в `documents.files` upsert'нут.
          content:
            application/json:
              schema:
                type: object
                required:
                - format
                - version
                - size_bytes
                - sha256
                - storage_key
                properties:
                  format:
                    type: string
                    enum:
                    - docx
                    - pdf
                    - html
                  version:
                    type: string
                  size_bytes:
                    type: integer
                    minimum: 0
                  sha256:
                    type: string
                    description: Hex sha256 загруженного содержимого.
                  storage_key:
                    type: string
                    description: MinIO object key (TZ §3.2 hierarchy).
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '413':
          description: Файл превышает `DOCUMENT_MAX_UPLOAD_BYTES`.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Невалидный format / отсутствующие поля.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
        '502':
          description: MinIO вернул ошибку (не transient).
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: MinIO не сконфигурирован или недоступен.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v1/documents/{id}/files/{format}:
    get:
      tags:
      - Documents
      summary: Скачать файл документа
      description: |
        Возвращает 302 redirect на pre-signed MinIO URL c TTL 5 минут.
        Authn обязателен (любой scope, видимость по ADR-0003).

        Audit: каждое успешное генерирование URL пишет запись
        `documents.file.downloaded` в audit_log с
        `metadata.format` и `metadata.size_bytes`.

        Anti-enumeration: 404 в трёх случаях (нет доступа, документ
        отсутствует, файл с таким format'ом не загружен) —
        пользователь не различает причины.

        Реализация ADR-0012 Phase A (#214).
      operationId: downloadDocumentFile
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: format
        in: path
        required: true
        schema:
          type: string
          enum:
          - docx
          - pdf
          - html
      responses:
        '302':
          description: Redirect на signed MinIO URL.
          headers:
            Location:
              schema:
                type: string
                format: uri
              description: Pre-signed URL с TTL `SIGNED_URL_TTL_SECONDS` (default 300с).
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '502':
          description: MinIO вернул ошибку (не transient).
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: |
            MinIO не сконфигурирован (`MINIO_ENABLED=false`) или
            недоступен (network / transient 5xx). Клиент может
            повторить запрос с backoff.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v1/premises-cards/{premises_id}:
    parameters:
    - name: premises_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Premises Cards
      summary: Карточка квартиры
      description: 'Состав возвращаемых полей зависит от scope:

        - guest: только базовые публичные поля

        - tenant (своей квартиры): доступ + Wi-Fi + контакты + правила

        - landlord: финансовый блок + представитель + история

        - staff: всё включая внутренние данные

        '
      operationId: getPremisesCard
      parameters:
      - $ref: '#/components/parameters/RequestId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/PremisesCard'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags:
      - Premises Cards
      summary: Обновить карточку
      operationId: updatePremisesCard
      parameters:
      - $ref: '#/components/parameters/RequestId'
      - $ref: '#/components/parameters/CsrfToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PremisesCardInput'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/PremisesCard'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/premises-cards/{premises_id}/financial:
    get:
      tags:
      - Premises Cards
      summary: Финансовый блок карточки
      description: 'Включает данные о сервисном платеже (см. ПЗ «База знаний v1.2» раздел 5.2).

        Доступ только для landlord (своих) и staff.

        '
      operationId: getPremisesFinancial
      parameters:
      - name: premises_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/FinancialBlock'
        '403':
          $ref: '#/components/responses/Forbidden'
  /api/v1/chat/sessions:
    post:
      tags:
      - Chat
      summary: Создать сессию чата
      operationId: createChatSession
      parameters:
      - $ref: '#/components/parameters/RequestId'
      - $ref: '#/components/parameters/CsrfToken'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                context:
                  type: object
                  description: Контекст — откуда открыт чат (страница, объект)
                  properties:
                    page_url:
                      type: string
                      format: uri
                    premises_id:
                      type: string
                      format: uuid
                    booking_id:
                      type: string
                      format: uuid
      responses:
        '201':
          description: Сессия создана
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/ChatSession'
  /api/v1/chat/sessions/{session_id}:
    parameters:
    - name: session_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Chat
      summary: История сессии
      operationId: getChatSession
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      allOf:
                      - $ref: '#/components/schemas/ChatSession'
                      - type: object
                        properties:
                          messages:
                            type: array
                            items:
                              $ref: '#/components/schemas/ChatMessage'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
      - Chat
      summary: Удалить сессию и историю (право по ФЗ-152)
      operationId: deleteChatSession
      parameters:
      - $ref: '#/components/parameters/CsrfToken'
      responses:
        '204':
          description: Удалено
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/chat/sessions/{session_id}/messages:
    post:
      tags:
      - Chat
      summary: Отправить сообщение в чат
      description: 'Возвращает либо SSE-стрим (Accept: text/event-stream), либо полный JSON-ответ.

        SSE-события: message-start, chunk, citation, message-end, error, done.

        '
      operationId: sendChatMessage
      parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/IdempotencyKey'
      - $ref: '#/components/parameters/CsrfToken'
      - name: Accept
        in: header
        schema:
          type: string
          enum:
          - application/json
          - text/event-stream
          default: text/event-stream
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - content
              properties:
                content:
                  type: string
                  minLength: 1
                  maxLength: 2000
      responses:
        '200':
          description: Ответ AI (SSE или JSON)
          content:
            text/event-stream:
              schema:
                type: string
                description: "Поток событий:\n  event: message-start\n  data: {\"message_id\": \"...\", \"created_at\": \"\
                  ...\"}\n\n  event: chunk\n  data: {\"text\": \"...\"}\n\n  event: citation\n  data: {\"source\": {...}}\n\
                  \n  event: message-end\n  data: {\"message_id\": \"...\", \"total_tokens\": N}\n\n  event: done\n  data:\
                  \ {}\n"
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/ChatMessage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/RateLimit'
  /api/v1/chat/sessions/{session_id}/feedback:
    post:
      tags:
      - Chat
      summary: Оставить фидбек на ответ
      operationId: postChatFeedback
      parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/CsrfToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - message_id
              - rating
              properties:
                message_id:
                  type: string
                  format: uuid
                rating:
                  type: string
                  enum:
                  - up
                  - down
                comment:
                  type: string
                  maxLength: 1000
      responses:
        '201':
          description: Фидбек сохранён
  /api/v1/chat/sessions/{session_id}/escalate:
    post:
      tags:
      - Chat
      summary: Эскалация на оператора поддержки
      operationId: escalateChatSession
      parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/CsrfToken'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                priority:
                  type: string
                  enum:
                  - low
                  - normal
                  - high
      responses:
        '201':
          description: Тикет создан
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      type: object
                      properties:
                        ticket_id:
                          type: string
                        estimated_response_time_minutes:
                          type: integer
  /api/v1/search:
    post:
      tags:
      - Search
      summary: Универсальный поиск (hybrid)
      description: 'Поиск по всему контенту kb: статьи, документы, карточки квартир, регламенты.

        Hybrid retrieval: vector (Qdrant) + full-text (Postgres). Возвращает

        разнородные результаты с указанием типа.

        '
      operationId: universalSearch
      parameters:
      - $ref: '#/components/parameters/RequestId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - query
              properties:
                query:
                  type: string
                  minLength: 1
                  maxLength: 500
                types:
                  type: array
                  items:
                    type: string
                    enum:
                    - article
                    - document
                    - premises_card
                    - regulation
                limit:
                  type: integer
                  minimum: 1
                  maximum: 50
                  default: 10
      responses:
        '200':
          description: Результаты
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/SearchHit'
  /api/v1/webhooks:
    get:
      tags:
      - Webhooks
      summary: Список зарегистрированных webhook
      operationId: listWebhooks
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/WebhookSummary'
    post:
      tags:
      - Webhooks
      summary: Зарегистрировать webhook
      operationId: createWebhook
      parameters:
      - $ref: '#/components/parameters/CsrfToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookInput'
      responses:
        '201':
          description: Создано
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/Webhook'
  /api/v1/webhooks/{id}:
    delete:
      tags:
      - Webhooks
      summary: Отозвать webhook
      operationId: deleteWebhook
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/CsrfToken'
      responses:
        '204':
          description: Отозван
  /api/v1/webhooks/{id}/test:
    post:
      tags:
      - Webhooks
      summary: Тестовая отправка события
      operationId: testWebhook
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/CsrfToken'
      responses:
        '200':
          description: Тест выполнен
          content:
            application/json:
              schema:
                type: object
                properties:
                  delivered:
                    type: boolean
                  status_code:
                    type: integer
                  response_time_ms:
                    type: integer
  /api/v1/admin/users:
    get:
      tags:
      - Admin
      summary: Список пользователей kb (сотрудники, редакторы)
      description: 'Управление пользователями kb-модуля (НЕ конечные пользователи rehome.one — те живут в основной системе).

        Здесь — сотрудники с правами редактирования, проверяющие, администраторы.

        Требует scope = staff_admin.

        '
      operationId: listKbUsers
      parameters:
      - $ref: '#/components/parameters/RequestId'
      - name: role
        in: query
        schema:
          type: string
          enum:
          - staff_support
          - staff_legal
          - staff_hr
          - staff_admin
      - name: status
        in: query
        schema:
          type: string
          enum:
          - ACTIVE
          - SUSPENDED
          - ARCHIVED
      - name: cursor
        in: query
        schema:
          type: string
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/KbUser'
                    pagination:
                      $ref: '#/components/schemas/Pagination'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags:
      - Admin
      summary: Добавить сотрудника
      operationId: createKbUser
      parameters:
      - $ref: '#/components/parameters/RequestId'
      - $ref: '#/components/parameters/CsrfToken'
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KbUserInput'
      responses:
        '201':
          description: Создано
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/KbUser'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
  /api/v1/admin/users/{user_id}:
    parameters:
    - name: user_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Admin
      summary: Карточка сотрудника
      operationId: getKbUser
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/KbUser'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
      - Admin
      summary: Изменить роль/права/статус сотрудника
      operationId: updateKbUser
      parameters:
      - $ref: '#/components/parameters/CsrfToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                role:
                  type: string
                  enum:
                  - staff_support
                  - staff_legal
                  - staff_hr
                  - staff_admin
                status:
                  type: string
                  enum:
                  - ACTIVE
                  - SUSPENDED
                  - ARCHIVED
                permissions:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/KbUser'
        '403':
          $ref: '#/components/responses/Forbidden'
    delete:
      tags:
      - Admin
      summary: Деактивировать сотрудника
      description: Soft-delete. Отзывает все доступы, помечает архивированным.
      operationId: deactivateKbUser
      parameters:
      - $ref: '#/components/parameters/CsrfToken'
      responses:
        '204':
          description: Деактивирован
  /api/v1/admin/audit-log:
    get:
      tags:
      - Admin
      summary: Аудит-лог системы
      description: 'Журнал действий в kb-модуле для compliance и расследований инцидентов.

        Хранится 5 лет. Доступ — staff_admin или staff_legal.

        '
      operationId: getAuditLog
      parameters:
      - $ref: '#/components/parameters/RequestId'
      - name: actor_id
        in: query
        description: Фильтр по конкретному пользователю
        schema:
          type: string
          format: uuid
      - name: action
        in: query
        description: Тип действия (read, write, delete, login, escalate, и т.д.)
        schema:
          type: string
      - name: entity_type
        in: query
        description: Тип сущности (article, document, premises_card, и т.д.)
        schema:
          type: string
      - name: entity_id
        in: query
        schema:
          type: string
          format: uuid
      - name: severity
        in: query
        schema:
          type: string
          enum:
          - info
          - warning
          - error
          - critical
      - name: from
        in: query
        schema:
          type: string
          format: date-time
      - name: to
        in: query
        schema:
          type: string
          format: date-time
      - name: cursor
        in: query
        schema:
          type: string
      - name: limit
        in: query
        schema:
          type: integer
          default: 50
          maximum: 500
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/AuditLogEntry'
                    pagination:
                      $ref: '#/components/schemas/Pagination'
        '403':
          $ref: '#/components/responses/Forbidden'
  /api/v1/admin/audit-log/export:
    post:
      tags:
      - Admin
      summary: Экспорт аудит-лога (для регуляторов / суда)
      description: 'Запускает фоновую задачу экспорта в подписанный CSV/JSON.

        Возвращает task_id, готовый файл — webhook + endpoint загрузки.

        '
      operationId: exportAuditLog
      parameters:
      - $ref: '#/components/parameters/CsrfToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - from
              - to
              properties:
                from:
                  type: string
                  format: date-time
                to:
                  type: string
                  format: date-time
                filters:
                  type: object
                format:
                  type: string
                  enum:
                  - csv
                  - json
                  default: csv
                reason:
                  type: string
                  description: Причина экспорта (для аудита аудит-лога)
      responses:
        '202':
          description: Принято, задача создана
          content:
            application/json:
              schema:
                type: object
                properties:
                  task_id:
                    type: string
                    format: uuid
                  estimated_ready_at:
                    type: string
                    format: date-time
  /api/v1/admin/personal-data/requests:
    get:
      tags:
      - Admin
      summary: Заявки субъектов ПДн (ФЗ-152)
      description: 'Реестр запросов пользователей на предоставление / исправление / удаление ПДн.

        Срок ответа по ФЗ-152 — 30 дней.

        '
      operationId: listPersonalDataRequests
      parameters:
      - name: status
        in: query
        schema:
          type: string
          enum:
          - NEW
          - IN_PROGRESS
          - COMPLETED
          - REJECTED
          - OVERDUE
      - name: type
        in: query
        schema:
          type: string
          enum:
          - provide
          - correct
          - delete
          - transfer
      - name: cursor
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/PersonalDataRequest'
                    pagination:
                      $ref: '#/components/schemas/Pagination'
        '403':
          $ref: '#/components/responses/Forbidden'
  /api/v1/admin/personal-data/requests/{request_id}:
    parameters:
    - name: request_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Admin
      summary: Карточка заявки субъекта ПДн
      operationId: getPersonalDataRequest
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/PersonalDataRequest'
    patch:
      tags:
      - Admin
      summary: Обработка заявки
      operationId: processPersonalDataRequest
      parameters:
      - $ref: '#/components/parameters/CsrfToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - status
              properties:
                status:
                  type: string
                  enum:
                  - IN_PROGRESS
                  - COMPLETED
                  - REJECTED
                resolution_note:
                  type: string
                attachments:
                  type: array
                  items:
                    type: string
                    format: uuid
      responses:
        '200':
          description: OK
  /api/v1/admin/security-incidents:
    get:
      tags:
      - Admin
      summary: Реестр security-инцидентов
      description: 'События безопасности: попытки обхода прав, утечки, подозрительная активность,

        срабатывания систем мониторинга. По ФЗ-152 — уведомление РКН в 24/72 часа.

        '
      operationId: listSecurityIncidents
      parameters:
      - name: severity
        in: query
        schema:
          type: string
          enum:
          - low
          - medium
          - high
          - critical
      - name: status
        in: query
        schema:
          type: string
          enum:
          - OPEN
          - INVESTIGATING
          - RESOLVED
          - FALSE_POSITIVE
      - name: cursor
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/SecurityIncident'
  /api/v1/admin/security-incidents/{incident_id}:
    parameters:
    - name: incident_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    patch:
      tags:
      - Admin
      summary: Обновление статуса инцидента
      operationId: updateSecurityIncident
      parameters:
      - $ref: '#/components/parameters/CsrfToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum:
                  - OPEN
                  - INVESTIGATING
                  - RESOLVED
                  - FALSE_POSITIVE
                resolution_note:
                  type: string
                rkn_notified_at:
                  type: string
                  format: date-time
      responses:
        '200':
          description: OK
  /api/v1/admin/system-config:
    get:
      tags:
      - Admin
      summary: Системные настройки kb-модуля
      description: 'Конфигурация на лету: rate limits, LLM-провайдер, фичефлаги, лимиты модерации.

        '
      operationId: getSystemConfig
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/SystemConfig'
    patch:
      tags:
      - Admin
      summary: Изменение настроек
      operationId: updateSystemConfig
      parameters:
      - $ref: '#/components/parameters/CsrfToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              description: Patch-объект с полями SystemConfig
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/SystemConfig'
  /api/v1/admin/llm/providers:
    get:
      tags:
      - Admin
      summary: Список подключённых LLM-провайдеров
      description: 'Yandex, GigaChat, Saiga и т.д. Используется для feature-flag-переключения

        и eval-стенда (см. документ Чат-поиск ТЗ v2 раздел 3).

        '
      operationId: listLlmProviders
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/LlmProvider'
  /api/v1/admin/llm/active:
    put:
      tags:
      - Admin
      summary: Переключить активного LLM-провайдера
      description: 'Меняет провайдера без деплоя. Запрос требует подтверждение через MFA-челлендж.

        '
      operationId: setActiveLlmProvider
      parameters:
      - $ref: '#/components/parameters/CsrfToken'
      - name: X-MFA-Token
        in: header
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - provider_id
              properties:
                provider_id:
                  type: string
                reason:
                  type: string
      responses:
        '200':
          description: Переключено
  /api/v1/admin/llm/eval-runs:
    get:
      tags:
      - Admin
      summary: История прогонов eval-стенда
      operationId: listEvalRuns
      parameters:
      - name: provider
        in: query
        schema:
          type: string
      - name: cursor
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/EvalRun'
    post:
      tags:
      - Admin
      summary: Запустить новый прогон eval
      operationId: startEvalRun
      parameters:
      - $ref: '#/components/parameters/CsrfToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - providers
              - test_set
              properties:
                providers:
                  type: array
                  items:
                    type: string
                test_set:
                  type: string
                  enum:
                  - full
                  - smoke
                  - custom
                custom_questions:
                  type: array
                  items:
                    type: string
      responses:
        '202':
          description: Запущено
          content:
            application/json:
              schema:
                type: object
                properties:
                  run_id:
                    type: string
                    format: uuid
  /api/v1/admin/cache:
    delete:
      tags:
      - Admin
      summary: Инвалидация кеша
      operationId: invalidateCache
      parameters:
      - $ref: '#/components/parameters/CsrfToken'
      - name: scope
        in: query
        schema:
          type: string
          enum:
          - all
          - articles
          - documents
          - premises_cards
          - search
          default: all
      responses:
        '202':
          description: Инвалидация запущена
  /api/v1/admin/reindex:
    post:
      tags:
      - Admin
      summary: Принудительная переиндексация
      description: 'Пересоздаёт vector-индекс (Qdrant) и full-text индекс (Postgres/Meili).

        Долгая операция, фоновая задача.

        '
      operationId: reindexContent
      parameters:
      - $ref: '#/components/parameters/CsrfToken'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                scope:
                  type: string
                  enum:
                  - all
                  - articles
                  - documents
                  - premises_cards
                  default: all
      responses:
        '202':
          description: Запущено
          content:
            application/json:
              schema:
                type: object
                properties:
                  task_id:
                    type: string
                    format: uuid
  /api/v1/admin/stats:
    get:
      tags:
      - Admin
      summary: Сводная статистика kb-модуля
      description: 'Метрики по запросам, чату, документам, инцидентам.

        Окно — последние 30 дней по умолчанию.

        '
      operationId: getAdminStats
      parameters:
      - name: from
        in: query
        schema:
          type: string
          format: date
      - name: to
        in: query
        schema:
          type: string
          format: date
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/AdminStats'
  /api/v1/admin/tasks/{task_id}:
    get:
      tags:
      - Admin
      summary: Статус фоновой задачи
      description: 'Универсальный endpoint для отслеживания асинхронных операций:

        экспорт аудит-лога, переиндексация, eval-прогоны и т.д.

        '
      operationId: getTaskStatus
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      type: object
                      properties:
                        task_id:
                          type: string
                          format: uuid
                        type:
                          type: string
                        status:
                          type: string
                          enum:
                          - PENDING
                          - RUNNING
                          - COMPLETED
                          - FAILED
                          - CANCELLED
                        progress_percent:
                          type: integer
                          minimum: 0
                          maximum: 100
                        created_at:
                          type: string
                          format: date-time
                        completed_at:
                          type: [string, 'null']
                          format: date-time
                        result_url:
                          type: [string, 'null']
                          format: uri
                        error:
                          type: [string, 'null']
  /api/v1/collaborators:
    get:
      tags:
      - Collaborators
      summary: Список коллаборантов
      description: |
        Возвращает список внешних коллаборантов (УК/ТСЖ, аварийные службы, клининг,
        переезды, ремонт, страховые и т.д.). Подробно — в ПЗ «База знаний v1.4»
        раздел 10.

        Фильтрация по типу, статусу, географии. Видимость зависит от scope
        (ADR-0014 §3):
        - guest / tenant / landlord / agent: только D-группа (management_company,
          emergency_service) — публичные контакты
        - staff_*: все группы (A/B/C/D)

        **Slice 1 (#231-232 landed):** реализованы фильтры по `type`, `status`,
        `service_area` (ILIKE substring). Фильтры `financial_group`, `city`,
        `district`, `premises_id` — Slice 5 (PremisesCollaborator junction).
      operationId: listCollaborators
      x-implementation-status: implemented
      x-implementation-slice: 1
      x-adr: ADR-0014
      parameters:
      - $ref: '#/components/parameters/RequestId'
      - name: type
        in: query
        schema:
          $ref: '#/components/schemas/CollaboratorType'
      - name: financial_group
        in: query
        schema:
          type: string
          enum:
          - A
          - B
          - C
          - D
      - name: status
        in: query
        schema:
          type: string
          enum:
          - DRAFT
          - PENDING_REVIEW
          - ACTIVE
          - SUSPENDED
          - ARCHIVED
      - name: city
        in: query
        schema:
          type: string
      - name: district
        in: query
        schema:
          type: string
      - name: premises_id
        in: query
        description: Вернуть только коллаборантов, обслуживающих этот объект
        schema:
          type: string
          format: uuid
      - name: cursor
        in: query
        schema:
          type: string
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
          maximum: 100
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/CollaboratorSummary'
                    pagination:
                      $ref: '#/components/schemas/Pagination'
    post:
      tags:
      - Collaborators
      summary: Создать коллаборанта
      description: |
        Создаёт коллаборанта в статусе DRAFT по умолчанию. D-группа
        (management_company, emergency_service) — auto-ACTIVE (ТЗ §3.10.1).
        `financial_group` auto-derive из `type` (кроме `type='other'` —
        обязательно указывать explicitly). Инвариант (type, financial_group)
        per ТЗ §10.3 enforced через CHECK constraint в БД (ADR-0014 §2).

        Требует scope = staff_support+.
      operationId: createCollaborator
      x-implementation-status: implemented
      x-implementation-slice: 1
      x-adr: ADR-0014
      parameters:
      - $ref: '#/components/parameters/RequestId'
      - $ref: '#/components/parameters/CsrfToken'
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollaboratorInput'
      responses:
        '201':
          description: Создано (статус — DRAFT или PENDING_REVIEW)
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/Collaborator'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
  /api/v1/collaborators/{collaborator_id}:
    parameters:
    - name: collaborator_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Collaborators
      summary: Карточка коллаборанта
      description: |
        Состав возвращаемых полей зависит от scope (ADR-0014 §7):
        - guest / tenant / landlord / agent: CollaboratorPublic — type, brand_name,
          financial_group, status, service_area, working_hours, website, rating
          (БЕЗ юр.реквизитов / contacts.person_name / financial_terms)
        - staff_*: CollaboratorInternal — + name, inn/ogrn/kpp, contacts (полные),
          financial_terms, api_integration, sla, counterparty_check
        - staff_admin (STAFF + LEGAL): + audit_log

        404 при out-of-scope (anti-enumeration mask, ADR-0003).
      operationId: getCollaborator
      x-implementation-status: implemented
      x-implementation-slice: 1
      x-adr: ADR-0014
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/Collaborator'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
      - Collaborators
      summary: Обновить карточку коллаборанта
      description: |
        Partial update. `type` и `financial_group` могут меняться, но pair
        invariant (ТЗ §10.3, ADR-0014 §2) валидируется в Pydantic — несовпадение
        → 422. Status можно менять в любую сторону (transition validation отложен
        до Slice 2: `/activate`, `/suspend`).

        Требует STAFF+ scope.
      operationId: patchCollaborator
      x-implementation-status: implemented
      x-implementation-slice: 1
      x-adr: ADR-0014
      parameters:
      - $ref: '#/components/parameters/CsrfToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollaboratorInput'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/Collaborator'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
      - Collaborators
      summary: Архивировать коллаборанта (soft delete)
      description: |
        Soft delete — status → ARCHIVED. Привязки к объектам сохраняются
        (Slice 5 PremisesCollaborator). Audit row пишется с
        `metadata.previous_status`.

        Требует STAFF+ scope.
      operationId: archiveCollaborator
      x-implementation-status: implemented
      x-implementation-slice: 1
      x-adr: ADR-0014
      parameters:
      - $ref: '#/components/parameters/CsrfToken'
      responses:
        '204':
          description: Архивировано
  /api/v1/collaborators/{collaborator_id}/activate:
    post:
      tags:
      - Collaborators
      summary: Активация коллаборанта (DRAFT/PENDING_REVIEW → ACTIVE)
      description: 'Активация возможна только когда: counterparty_check = CLEAN,

        contract_document_id заполнен (для групп A/B/C), responsible_internal назначен.

        Любая активация фиксируется в аудит-логе.

        '
      operationId: activateCollaborator
      x-implementation-status: implemented
      x-implementation-slice: 2
      x-adr: ADR-0014
      parameters:
      - name: collaborator_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/CsrfToken'
      responses:
        '200':
          description: Активировано
        '422':
          description: Не выполнены условия активации
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v1/collaborators/{collaborator_id}/suspend:
    post:
      tags:
      - Collaborators
      summary: Приостановка коллаборанта
      description: 'Временная остановка работы с коллаборантом без архивации.

        Например, при просрочке проверки контрагента или сбое API партнёра.

        '
      operationId: suspendCollaborator
      x-implementation-status: implemented
      x-implementation-slice: 2
      x-adr: ADR-0014
      parameters:
      - name: collaborator_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/CsrfToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - reason
              properties:
                reason:
                  type: string
                until:
                  type: [string, 'null']
                  format: date
      responses:
        '200':
          description: Приостановлено
  /api/v1/collaborators/{collaborator_id}/metrics:
    get:
      tags:
      - Collaborators
      summary: Метрики работы коллаборанта
      description: 'Объём услуг, средний рейтинг, время реакции, выручка через коллаборанта,

        количество инцидентов. Для типов финансовой группы B — выручка платформы.

        '
      operationId: getCollaboratorMetrics
      x-implementation-status: planned
      x-implementation-slice: 4
      parameters:
      - name: collaborator_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: from
        in: query
        schema:
          type: string
          format: date
      - name: to
        in: query
        schema:
          type: string
          format: date
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/CollaboratorMetrics'
  /api/v1/premises/{premises_id}/collaborators:
    parameters:
    - name: premises_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Collaborators
      summary: Коллаборанты, обслуживающие данный объект
      description: 'Возвращает список PremisesCollaborator-связей: УК, аварийная служба,

        рекомендуемые сантехники, привязанные к этому объекту.

        Видимость публичных контактов — для tenant данной квартиры.

        '
      operationId: listPremisesCollaborators
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/PremisesCollaborator'
    post:
      tags:
      - Collaborators
      summary: Назначить коллаборанта на объект
      description: Требует staff_support+
      operationId: assignCollaboratorToPremises
      parameters:
      - $ref: '#/components/parameters/CsrfToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PremisesCollaboratorInput'
      responses:
        '201':
          description: Назначено
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/PremisesCollaborator'
  /api/v1/premises/{premises_id}/collaborators/{collaborator_id}:
    delete:
      tags:
      - Collaborators
      summary: Отвязать коллаборанта от объекта
      operationId: unassignCollaboratorFromPremises
      parameters:
      - name: premises_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: collaborator_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/CsrfToken'
      responses:
        '204':
          description: Отвязано
  /api/v1/collaborators/{collaborator_id}/reviews:
    parameters:
    - name: collaborator_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Collaborators
      summary: Отзывы пользователей о коллаборанте
      operationId: listCollaboratorReviews
      x-implementation-status: planned
      x-implementation-slice: 6
      parameters:
      - name: cursor
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/CollaboratorReview'
                    pagination:
                      $ref: '#/components/schemas/Pagination'
    post:
      tags:
      - Collaborators
      summary: Оставить отзыв
      description: Доступно tenant/landlord, оставлявшим заказ через этого коллаборанта
      operationId: createCollaboratorReview
      x-implementation-status: planned
      x-implementation-slice: 6
      parameters:
      - $ref: '#/components/parameters/CsrfToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - rating
              properties:
                rating:
                  type: integer
                  minimum: 1
                  maximum: 5
                comment:
                  type: string
                  maxLength: 2000
                order_id:
                  type: string
                  format: uuid
                  description: Заказ, по которому отзыв
      responses:
        '201':
          description: Создано
        '403':
          $ref: '#/components/responses/Forbidden'
  /api/v1/service-orders:
    get:
      tags:
      - Collaborators
      summary: Заказы услуг у коллаборантов
      description: 'Заказы пользователей у коллаборантов финансовой группы B (оплата через платформу):

        клининг, переезд, ремонт, доставка ключей.

        '
      operationId: listServiceOrders
      parameters:
      - name: collaborator_id
        in: query
        schema:
          type: string
          format: uuid
      - name: status
        in: query
        schema:
          $ref: '#/components/schemas/ServiceOrderStatus'
      - name: cursor
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/ServiceOrder'
    post:
      tags:
      - Collaborators
      summary: Создать заказ у коллаборанта
      operationId: createServiceOrder
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      - $ref: '#/components/parameters/CsrfToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceOrderInput'
      responses:
        '201':
          description: Заказ создан, направлен коллаборанту
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/ServiceOrder'
  /api/v1/service-orders/{order_id}:
    parameters:
    - name: order_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Collaborators
      summary: Карточка заказа
      operationId: getServiceOrder
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/ServiceOrder'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/service-orders/{order_id}/cancel:
    post:
      tags:
      - Collaborators
      summary: Отмена заказа
      operationId: cancelServiceOrder
      parameters:
      - name: order_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/CsrfToken'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
      responses:
        '200':
          description: Отменено
  /api/v1/collaborators/{collaborator_id}/portal-access:
    parameters:
    - name: collaborator_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    put:
      tags:
      - Collaborators
      summary: Изменить уровень доступа коллаборанта к кабинету
      description: Коллаборант может понизить уровень в любой момент (FULL → LIGHT, LIGHT → NONE). Повысить (NONE → LIGHT,
        LIGHT → FULL) можно только после выполнения первой успешной операции через платформу или одобрения оператором reHome.
        Изменения логируются в audit_log карточки.
      operationId: changeCollaboratorPortalAccess
      x-implementation-status: planned
      x-implementation-slice: 3
      parameters:
      - $ref: '#/components/parameters/CsrfToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - portal_access_level
              properties:
                portal_access_level:
                  $ref: '#/components/schemas/PortalAccessLevel'
                reason:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/Collaborator'
        '422':
          description: Повышение уровня недоступно — не выполнены условия
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v1/collaborators/onboarding:
    post:
      tags:
      - Collaborators
      summary: Самостоятельная заявка коллаборанта (онбординг)
      description: Эндпоинт публичной формы регистрации на rehome.one/partners. Коллаборант сам заявляет о себе, указывает
        тип, желаемый portal_access_level (по умолчанию LIGHT), реквизиты. Создаётся карточка в статусе PENDING_REVIEW, оператор
        reHome проверяет и активирует.
      operationId: submitCollaboratorOnboarding
      x-implementation-status: planned
      x-implementation-slice: 3
      security:
      - {}
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/RequestId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CollaboratorInput'
              - type: object
                properties:
                  applicant_contact:
                    type: object
                    description: Контакт заявителя для обратной связи
                    required:
                    - full_name
                    - phone
                    - email
                    properties:
                      full_name:
                        type: string
                      phone:
                        type: string
                      email:
                        type: string
                        format: email
                      position:
                        type: string
                  message:
                    type: string
                    description: Произвольное сообщение от заявителя
                required:
                - applicant_contact
      responses:
        '202':
          description: Заявка принята, ожидает рассмотрения
          content:
            application/json:
              schema:
                type: object
                properties:
                  application_id:
                    type: string
                    format: uuid
                  estimated_review_time:
                    type: string
                    example: 3 рабочих дня
                  message:
                    type: string

  # ==========================================================================
  # Implemented endpoints (#168 OpenAPI sync — landed модули добавлены здесь).
  # Существующие path-определения в спеке выше — design-stage; landed
  # backend имеет собственные эндпоинты ниже. Naming divergence отражает
  # фактический shipping код (см. PR #142 / #147 / #148 / #149 / #153 /
  # #163 / #166).
  # ==========================================================================

  /api/v1/premises-cards:
    get:
      tags: [Premises]
      summary: Список карточек квартир (cursor pagination)
      operationId: listPremisesCards
      parameters:
      - name: cursor
        in: query
        schema:
          type: string
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
      responses:
        '200':
          description: OK
        '400':
          description: Невалидный cursor
    post:
      tags: [Premises]
      summary: Создать карточку квартиры (staff_admin)
      operationId: createPremisesCard
      responses:
        '201':
          description: Создано
        '409':
          description: slug already exists
  /api/v1/premises-cards/search:
    post:
      tags: [Premises]
      summary: Полнотекстовый поиск (Postgres FTS)
      operationId: searchPremisesCards
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [q]
              properties:
                q:
                  type: string
                  minLength: 1
                  maxLength: 500
                limit:
                  type: integer
                  minimum: 1
                  maximum: 100
                  default: 20
      responses:
        '200':
          description: Результаты
  # NB: `/api/v1/premises-cards/{premises_id}` (line 740) — existing
  # design-stage definition; landed реализация использует {slug}
  # parameter (PR #142). Path template renaming — отдельный future cube
  # (требует oasdiff coordination, см. spec §"renames" pattern).

  /api/v1/hr/employees:
    get:
      tags: [HR]
      summary: Список сотрудников (HR_RESTRICTED scope)
      operationId: listHrEmployees
      parameters:
      - name: cursor
        in: query
        schema:
          type: string
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
      - name: include_terminated
        in: query
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
        '403':
          description: Требуется HR_RESTRICTED scope
    post:
      tags: [HR]
      summary: Создать карточку сотрудника
      operationId: createHrEmployee
      responses:
        '201':
          description: Создано
  /api/v1/hr/employees/{employee_id}:
    get:
      tags: [HR]
      summary: Карточка сотрудника (audited per view)
      operationId: getHrEmployee
      parameters:
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
        '404':
          description: Не найден
    patch:
      tags: [HR]
      summary: Partial update
      operationId: patchHrEmployee
      parameters:
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
    delete:
      tags: [HR]
      summary: Архивировать (ФЗ-152 50-year retention compliance)
      operationId: archiveHrEmployee
      parameters:
      - name: employee_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: Архивирован

  /api/v1/vault/me:
    get:
      tags: [Vault]
      summary: Текущее crypto state пользователя (для unlock UI)
      operationId: getVaultMe
      responses:
        '200':
          description: salt + pubkey + encrypted_privkey + has_totp bit
  /api/v1/vault/setup:
    post:
      tags: [Vault]
      summary: Initial vault setup (zero-knowledge)
      operationId: setupVault
      responses:
        '201':
          description: Создано
        '409':
          description: Vault already set up
  /api/v1/vault/unlock:
    post:
      tags: [Vault]
      summary: Verify auth_hash (anti-bruteforce, audited)
      operationId: unlockVault
      responses:
        '200':
          description: OK
        '401':
          description: Invalid auth_hash
  /api/v1/vault/secrets:
    get:
      tags: [Vault]
      summary: List accessible secrets (metadata-only)
      operationId: listVaultSecrets
      responses:
        '200':
          description: OK
    post:
      tags: [Vault]
      summary: Create encrypted secret + wraps
      operationId: createVaultSecret
      responses:
        '201':
          description: Создано
  /api/v1/vault/secrets/{secret_id}:
    get:
      tags: [Vault]
      summary: Detail + caller wrapped_key (audited read)
      operationId: getVaultSecret
      parameters:
      - name: secret_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
        '404':
          description: Not found or no access (anti-enumeration)
    put:
      tags: [Vault]
      summary: Update blob (optimistic version match)
      operationId: updateVaultSecret
      parameters:
      - name: secret_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
        '409':
          description: Version mismatch
    delete:
      tags: [Vault]
      summary: Archive (soft-delete, owner-only)
      operationId: archiveVaultSecret
      parameters:
      - name: secret_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: Archived
  /api/v1/vault/totp/setup:
    post:
      tags: [Vault]
      summary: Enable TOTP 2FA (encrypted secret)
      operationId: setupVaultTotp
      responses:
        '200':
          description: OK
        '404':
          description: Vault не setup
  /api/v1/vault/totp:
    delete:
      tags: [Vault]
      summary: Disable TOTP 2FA
      operationId: disableVaultTotp
      responses:
        '204':
          description: Disabled

  /api/v1/vault/groups:
    get:
      tags: [Vault]
      summary: List vault groups (user-membership filtered)
      operationId: listVaultGroups
      responses:
        '200':
          description: Группы пользователя
        '401':
          description: Не аутентифицирован
    post:
      tags: [Vault]
      summary: Create group (auto-owner)
      operationId: createVaultGroup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 200
                description:
                  type: string
                  maxLength: 2000
      responses:
        '201':
          description: Группа создана; caller — auto-owner
  /api/v1/vault/groups/{group_id}/members:
    get:
      tags: [Vault]
      summary: List group members (must be member; non-member → 404)
      operationId: listVaultGroupMembers
      parameters:
      - name: group_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
        '404':
          description: Group не найдена ИЛИ caller — не member (anti-enumeration)
    post:
      tags: [Vault]
      summary: Add member (owner-only)
      operationId: addVaultGroupMember
      parameters:
      - name: group_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user_id]
              properties:
                user_id:
                  type: string
                  format: uuid
                role:
                  type: string
                  enum: [owner, member]
                  default: member
      responses:
        '201':
          description: Member added
        '403':
          description: Caller — не owner данной группы
        '404':
          description: Group / caller-membership absent
        '409':
          description: User уже member
  /api/v1/vault/groups/{group_id}/members/{user_id}:
    delete:
      tags: [Vault]
      summary: Remove member (owner-only; can't remove self)
      operationId: removeVaultGroupMember
      parameters:
      - name: group_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: Removed
        '403':
          description: Caller — не owner ИЛИ попытка removed себя (transfer
            ownership first)
        '404':
          description: Group / member не найден

  /api/v1/audit-log:
    get:
      tags: [Audit]
      summary: Search audit log (LEGAL access)
      description: 'Implemented endpoint для compliance search. ФЗ-152 SAR /
        forensic. См. также `/api/v1/admin/audit-log` (design-stage, не
        реализован).'
      operationId: searchAuditLog
      parameters:
      - name: actor_sub
        in: query
        schema:
          type: string
      - name: resource_type
        in: query
        schema:
          type: string
      - name: resource_id
        in: query
        schema:
          type: string
      - name: action
        in: query
        schema:
          type: string
      - name: since
        in: query
        schema:
          type: string
          format: date-time
      - name: until
        in: query
        schema:
          type: string
          format: date-time
      - name: q
        in: query
        description: 'Substring search over metadata JSONB (forensic discovery,
          #183). ILIKE on serialized JSON — bounded; combine with `since` for
          large audit log.'
        schema:
          type: string
          maxLength: 200
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 200
          default: 50
      - name: offset
        in: query
        schema:
          type: integer
          minimum: 0
          default: 0
      responses:
        '200':
          description: OK
        '403':
          description: Требуется LEGAL scope
  /api/v1/audit-log/export.csv:
    get:
      tags: [Audit]
      summary: Export audit log as CSV (LEGAL access)
      description: 'Streaming CSV export — same filters как JSON endpoint
        (`GET /audit-log`). Hard cap 10000 rows для anti-DoS. UTF-8 с BOM
        для Excel-compatibility. Columns: created_at, actor_sub, action,
        resource_type, resource_id, metadata (single-line JSON).
        Implemented в Cube U (#170).'
      operationId: exportAuditLogCsv
      parameters:
      - name: actor_sub
        in: query
        schema:
          type: string
          maxLength: 200
      - name: resource_type
        in: query
        schema:
          type: string
          maxLength: 32
      - name: resource_id
        in: query
        schema:
          type: string
          maxLength: 200
      - name: action
        in: query
        schema:
          type: string
          maxLength: 64
      - name: since
        in: query
        schema:
          type: string
          format: date-time
      - name: until
        in: query
        schema:
          type: string
          format: date-time
      - name: q
        in: query
        description: Substring search over metadata JSONB.
        schema:
          type: string
          maxLength: 200
      responses:
        '200':
          description: CSV download (Content-Disposition attachment)
          headers:
            Content-Disposition:
              schema:
                type: string
                example: 'attachment; filename="audit_log_YYYYMMDD_HHMMSS.csv"'
          content:
            text/csv:
              schema:
                type: string
                format: binary
        '403':
          description: Требуется LEGAL scope
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Bearer JWT — m2m или user токен.

        m2m: получить через kb-auth Client Credentials Grant.

        '
    CookieAuth:
      type: apiKey
      in: cookie
      name: kb_session
      description: HttpOnly Secure cookie, ставится при логине в rehome.one
  parameters:
    RequestId:
      name: X-Request-Id
      in: header
      schema:
        type: string
        format: uuid
      description: UUID запроса для трассировки. Если не передан — генерируется.
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      schema:
        type: string
        format: uuid
      description: UUID для дедупликации повторных POST/PATCH. Ответ кешируется 24ч.
    CsrfToken:
      name: X-CSRF-Token
      in: header
      schema:
        type: string
      description: CSRF-токен (double-submit). Обязателен для browser-mutations.
    AcceptLanguage:
      name: Accept-Language
      in: header
      schema:
        type: string
        enum:
        - ru
        - en
        default: ru
      description: Язык ответа
  schemas:
    ReadinessResponse:
      type: object
      description: |
        Унифицированный shape для `/ready` ответа (200 и 503). 200 →
        `status='ready'`, все deps `ok`. 503 → `status='not_ready'`,
        как минимум один dep не `ok`. k8s probe смотрит на HTTP status code;
        body даёт ops-debugging detail без раскрытия exception messages
        (ФЗ-152, см. issue #112).
      required:
      - status
      - dependencies
      properties:
        status:
          type: string
          enum:
          - ready
          - not_ready
        dependencies:
          type: object
          additionalProperties:
            type: string
            enum:
            - ok
            - degraded
            - down
    Meta:
      type: object
      required:
      - request_id
      - api_version
      - timestamp
      properties:
        request_id:
          type: string
          format: uuid
        api_version:
          type: string
          example: 1.0.0
        timestamp:
          type: string
          format: date-time
    Pagination:
      type: object
      properties:
        cursor_next:
          type: [string, 'null']
        cursor_prev:
          type: [string, 'null']
        has_more:
          type: boolean
        total_estimate:
          type: integer
          description: Приблизительная оценка
    ResponseEnvelope:
      type: object
      required:
      - meta
      properties:
        meta:
          $ref: '#/components/schemas/Meta'
    Error:
      type: object
      required:
      - type
      - title
      - status
      - code
      properties:
        type:
          type: string
          format: uri
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
        instance:
          type: string
        request_id:
          type: string
          format: uuid
        code:
          type: string
          enum:
          - VALIDATION
[...]
